.user-preview{
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: all .5s;
    & .delete button{
        background-color: rgb(233, 147, 147);
    }
    & .edit button{
        background-color: rgb(150, 233, 147);
    }
    & button{
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #333;
        padding: 5px;
        width: 100%;
        transition: all .3s;
        &:hover{
            box-shadow: 0 0 5px #333;
            transition: all .3s;
        }
    }
}

.user-preview:hover{
    background-color: rgba(255, 69, 0,0.2);
}
