.toy-add-title h5{
    margin-bottom: 5px;
}

.toy-add{
    display: flex;
    gap: 10px;
    align-items: stretch;
}
.toy-add .toy-add-labels{
    flex-grow: 1;
}
.toy-add [name="inStock"]{
    align-self: center;
}
