// Colors
$clr1: #3f51b5;
$clr2: #092F32;
$clr3: #7685db;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

$clr10:blue;
$clr11:green;
$clr12:purple;
$clr13:hotpink;
$clr14:red;
$clr15:teal;
$clr16:orange;
$clr-in-stock: greenyellow;
$clr-out-stock: lightcoral;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 780px;
$normal-breakpoint: 960px;
